body {
    font-family: Arial, Helvetica, sans-serif;
    margin-inline:4rem;
}

.logo {
    width: 6rem;
}
.logoitem{
    margin-block: 0.6rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

a{
    text-decoration: none;
}
.navitem {
    margin-block: 0.6rem;
    margin-inline: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navitem:hover {
    text-decoration-line: underline;
}

.badge {
    transform: translate(-30%, -50%)
}